[user]
	name = Gareth Sears
[core]
	excludesfile = /Users/gareth/.gitignore_global
[alias]
	s = status --short
	co = checkout
	br = branch
	authors = shortlog --summary --numbered --email
	l = log --oneline --decorate
	la = log --oneline --decorate --graph --all
